{% extends 'base.html.twig' %}

{% block title %}Inscription | Compost &Me{% endblock %}

{% block body %}
    <div class="container col-11 col-sm-8 col-md-5 col-lg-3 mt-5">
        <h1>Email envoyé</h1>
        <p>
            Un email vous a été envoyé pour valider votre inscription.<br>
            Cliquez sur le lien contenu dans cet email pour valider votre inscription.
        </p>

    </div>
{% endblock %}
