{% extends 'base.html.twig' %}

{% block title %}Edit Composter{% endblock %}

{% block body %}
    <h1>Edit Composter</h1>

    {{ include('composter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_composter_index') }}">back to list</a>

    {{ include('composter/_delete_form.html.twig') }}
{% endblock %}
