{% extends 'base.html.twig' %}

{% block title %}Formulaire composteur{% endblock %}

{% block body %}
    <div class="form container col-11 col-sm-8 col-md-5 col-lg-3">
        {{ form_start(form) }}
        <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}