{% extends 'base.html.twig' %}

{% block title %}New Composter{% endblock %}

{% block body %}
    <h1>Create new Composter</h1>

    {{ include('composter/_form.html.twig') }}

    <a href="{{ path('app_composter_index') }}">back to list</a>
{% endblock %}
