{% extends 'base.html.twig' %}

{% block title %}Paramètres - Panel administrateur | Compost &Me{% endblock %}

{% block body %}

<div class="d-flex d-inline-flex h-100 w-100">
    {% include 'admin_panel/side_panel.html.twig' %}
    <div class="container-fluid m-2 mb-5 m-lg-4">
        <h1 class="title-underline">Paramètres</h1>
        <div class="d-flex w-100 gap-4 flex-wrap mt-4">
            <div class="accordion col-12 " id="accordionSettings">
                <div class="accordion-item col-12 col-lg shadow border-0">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fillRateSettingsSection">
                            Taux de remplissage
                        </button>
                    </h2>
                    <div id="fillRateSettingsSection" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="d-flex">
                                <button
                                        class="btn btn-primary ms-auto"
                                        data-modal-toggle="form"
                                        data-modal-title="Ajouter un taux de remplissage"
                                        data-modal-href="{{ path('app_admin_panel_fillrate_add') }}"
                                >
                                    Ajouter
                                </button>
                            </div>
                            {% if fillRates|length < 1 %}
                                <div class="w-100 text-center text-muted pb-3 d-flex flex-column">
                                    <img src="{{ asset('img/taken.svg') }}" alt="Aucun résultat" height="100px" class="m-2">
                                    <span >
                                        Aucun taux de remplissage.
                                    </span>
                                </div>
                            {% else %}
                                <table class="table w-100" id="ticketTable">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="col">Nom</th>
                                        <th scope="col">Valeur</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for fillRate in fillRates %}
                                        <tr>
                                            <td>{{ fillRate.name }}</td>
                                            <td>{{ fillRate.pourcentage }}</td>
                                            <td>
                                                <button
                                                        class="btn btn-warning"
                                                        data-modal-toggle="form"
                                                        data-modal-title="Modifier le taux de remplissage"
                                                        data-modal-href="#"
                                                >
                                                    Modifier
                                                </button>
                                                <button
                                                        class="btn btn-danger"
                                                        data-modal-toggle="form"
                                                        data-modal-title="Supprimer le taux de remplissage"
                                                        data-modal-href="#"
                                                >
                                                    Supprimer
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.3/r-3.0.1/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.3/r-3.0.1/datatables.min.js"></script>
    <script>
        let table = new DataTable('#ticketTable', {
            paging: false,
            searching: false,
            info: false,
            lengthChange: false,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json'
            },
            autoWidth: true
        })
    </script>

{% endblock %}

