#adminSidePanel {
  .nav-item {
    &:hover {
        & .nav-link {
          background-color: var(--bs-primary-bg-subtle);
        }
    }
  }
}

@media (min-width: 992px) {
  #adminSidePanel {
    position: relative;

    & .nav-item {
      width: 100%;

      & svg {
        margin-right: 0.5rem;
      }
    }
  }

}