

$primary: #0A9044;
$secondary: #70BE46;
$dark: #131515;
$white: #FFFAFB;
$body-bg: #F5F5F5;

@import 'bootstrap';

body {
    background-color: #{ $light };
}

.btn-primary {
    --bs-btn-color: #{ $white };
    --bs-btn-hover-color: #{ $white };
    --bs-btn-active-color: #{ $white };
    --bs-btn-disabled-color: #{ $white };
}

.btn-danger {
    --bs-btn-color: #{ $white };
    --bs-btn-hover-color: #{ $white };
}

a {
    text-decoration: none;
    color: $primary;
}

.svg-background {
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position-x: calc(100% + 1rem);
    background-position-y: calc(100% + 1rem);
}

.title-underline {
    width: fit-content;
    margin-bottom: 1.5rem;

    &::after {
        content: "";
        width: 100%;
        position: relative;
        display: block;
        border-top: 4px solid $primary;
        margin-left: 1rem;
    }
}

table td, th {
    white-space: nowrap;
    vertical-align: middle;
}

.loading {
    &::after {
        content: "";
        display: block;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.navbar-nav {
    & .nav-item {

        &::after {
            content: "";
            display: block;
            width: 0;
            background-color: $primary;
            transition: width 0.3s;
            border-bottom: 2px solid $primary;
        }

        &:hover::after {
            width: 100%;
        }
    }
}
