body {
    background-color: lightgray;
}

$primary: #0A9044;
$secondary: #70BE46;
$dark: #131515;
$white: #FFFAFB;

@import 'bootstrap';

.btn-primary {
    --bs-btn-color: #{ $white };
    --bs-btn-hover-color: #{ $white };
}
a {
    text-decoration: none;
    color: $gray-800;
}