<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/compost_me.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-brand"><a href="#" id="logo"><img src="{{ asset('/img/logo.png') }}" alt="Compost &Me logo" height="32"></a></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Carte</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">SOS Compost</a
                        ></li>
                </ul>
                <a href="#" class="nav-link">Mon compte</a>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
